.jumbotron {
    text-align: center;
}

#loading { 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    display: none; 
    background: gold; 
    padding: 0.3em; 
    font-weight: bold; 
}
*, ::before, ::after {
  box-sizing:border-box;
}
html, body {
  font-size:100%;
}
body {
  background:#FFFFFF;
  color:#222222;
  font-family:"Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-style:normal;
  font-weight:normal;
  line-height:1;
  margin:0;
  padding:0;
  position:relative;
}
.night .home_search a, .night .header_search a, .night .search_search a {
  background:none 0 0 repeat scroll rgba(255, 255, 255, 0.34902) !important;
}
.night .home_search a:hover, .night .header_search a:hover, .night .search_search a:hover {
  background:none 0 0 repeat scroll rgba(255, 255, 255, 0.498039) !important;
}
input[type="search"], .night input[type="search"] {
  background-image:none !important;
}
.page-official-website-of-the-aloha-state .mobile_search, .page-search-results .mobile_search {
  display:none !important;
}
.header {
  margin-bottom:1.5em;
}
.header .site_title h1{
	font-size: 2.2em;
  margin-left: 2.2em;
}
.header .site_title span{
	font-size: 0.9em;
  margin-left: 2.2em;
}
.navigation {
  margin-top:0.3em;
  margin-right: 2.2em;
}
.navigation li a {
  font-size:1.05em;
  padding:0.25em;
}
.nav_container {
  padding-left:0 !important;
}
.nav_container {
  padding:0 0.5em !important;
}
.navigation{
	float: right;
	margin-top: 0;
	position: relative;
	z-index: 10;
}
.navigation li{
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navigation li a{
	border-radius: 0;
	color:#DDDDDD;
	display: block;
	font-size: 1.2em;
	font-weight: 400;
	padding: 0.5em 0.75em;
	text-shadow: rgba(0,0,0,0.4)0 -1px 0;
}
.welcome_message{
  color: #FFFFFF;
  display: none;
  font-size: 1.8em;
  font-style: italic;
  padding-left: 2.2em;
}
.header_search {
  margin-top:0.125em;
  position:absolute;
  right:15px;
  top:5.5em;
  transition:all 0.5s;
  width:400px;
}
.search_search form {
  margin-bottom:2em;
}
.page-official-website-of-the-aloha-state .header_search, .page-search-results .header_search {
  display:none !important;
}
.header_search {
  display:none;
  margin:0 3%;
  position:relative;
  right:0;
  top:1em;
  width:94%;
}

.home_search .columns, .header_search .columns, .search_search .columns {
  margin:0;
  padding:0;
}
.home_search input[type="search"], .header_search input[type="search"], .search_search input[type="search"] {
  -webkit-appearance:none;
  background:rgba(255, 255, 255, 0.901961);
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius:3px 0 0 3px;
  font-weight:300;
  height:2em;
  text-shadow:rgba(255, 255, 255, 0.498039) 0 1px 0;
}
.home_search input[type="search"]:hover, .header_search input[type="search"]:hover, .search_search input[type="search"]:hover {
  background:rgba(255, 255, 255, 0.901961);
}
.home_search input[type="search"]:focus, .header_search input[type="search"]:focus, .search_search input[type="search"]:focus {
  background:#FFFFFF;
  color:#000000;
  font-weight:400;
  outline:0;
}
.home_search a, .header_search a, .search_search a {
  background:rgba(0, 0, 0, 0.498039);
  border-radius:0 3px 3px 0;
  cursor:pointer;
  display:block;
  margin-left:0.9em;
  padding:0.7em 0;
  text-align:center;
}
.home_search a i, .header_search a i, .search_search a i {
  color:#FFFFFF;
  font-size:1.3em;
  text-shadow:rgba(0, 0, 0, 0.4) 0 -1px 0;
}
.home_search_results {
  background:#FFFFFF;
}
.home_search .columns, .header_search .columns, .search_search .columns {
  margin:0;
  padding:0;
}
.home_search input[type="search"], .header_search input[type="search"], .search_search input[type="search"] {
  -webkit-appearance:none;
  background:rgba(255, 255, 255, 0.901961);
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius:3px 0 0 3px;
  font-weight:300;
  height:2em;
  text-shadow:rgba(255, 255, 255, 0.498039) 0 1px 0;
}
.home_search input[type="search"]:hover, .header_search input[type="search"]:hover, .search_search input[type="search"]:hover {
  background:rgba(255, 255, 255, 0.901961);
}
.home_search input[type="search"]:focus, .header_search input[type="search"]:focus, .search_search input[type="search"]:focus {
  background:#FFFFFF;
  color:#000000;
  font-weight:400;
  outline:0;
}
.home_search a, .header_search a, .search_search a {
  background:rgba(0, 0, 0, 0.498039);
  border-radius:0 3px 3px 0;
  cursor:pointer;
  display:block;
  margin-left:0.9em;
  padding:0.7em 0;
  text-align:center;
}
.home_search a i, .header_search a i, .search_search a i {
  color:#FFFFFF;
  font-size:1.3em;
  text-shadow:rgba(0, 0, 0, 0.4) 0 -1px 0;
}
.home_search_container {
  top:150px;
}
.home_search_container {
  top:0;
}
.home_search {
  margin-top:0.5em;
  position:relative;
  transition:all 0.5s;
  z-index:5;
}
.no-js .home_search_container {
  top:0;
}
.home_search_container {
  top:150px;
}
.home_search_container {
  top:0;
}
.home_search {
  margin-top:0.5em;
  position:relative;
  transition:all 0.5s;
  z-index:5;
}
.no-js .home_search_container {
  top:0;
}
.header_search {
  margin-top:0.125em;
  position:absolute;
  right:15px;
  top:5.5em;
  transition:all 0.5s;
  width:400px;
}
.search_search form {
  margin-bottom:2em;
}
.page-official-website-of-the-aloha-state .header_search, .page-search-results .header_search {
  display:none !important;
}
.header_search {
  display:none;
  margin:0 3%;
  position:relative;
  right:0;
  top:1em;
  width:94%;
}
