.jumbotron {
    text-align: center;
}

#loading { 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    display: none; 
    background: gold; 
    padding: 0.3em; 
    font-weight: bold; 
}
*, ::before, ::after {
  box-sizing:border-box;
}
html, body {
  font-size:100%;
}
body {
  background:#FFFFFF;
  color:#222222;
  font-family:"Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-style:normal;
  font-weight:normal;
  line-height:1;
  margin:0;
  padding:0;
  position:relative;
}
.header .site_title h1{
	font-size: 2.2em;

}
.header .site_title span{
	font-size: 0.9em;

}
.navigation {
  margin-top:0.3em;
}
.navigation li a {
  font-size:1.05em;
  padding:0.25em;
}
.nav_container {
  padding-left:0 !important;
}
.nav_container {
  padding:0 0.5em !important;
}
.navigation{
	float: right;
	margin-top: 0;
	position: relative;
	z-index: 10;
}
.navigation li{
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navigation li a{
	border-radius: 0;
	color:#DDDDDD;
	display: block;
	font-size: 1.2em;
	font-weight: 400;
	padding: 0.5em 0.75em;
	text-shadow: rgba(0,0,0,0.4)0 -1px 0;
}
.navigation li a:hover{

}