<div class="content" >
	<form role="form" class="form-horizontal" action="" method="post">
		<div class="form-group">
			<label class="control-label col-sm-2">Nomor Surat Desa</label>
			<input type="text" id="suratdesa">
			<div class="form-horizontal">
				<input type="text" id="filesuratdesa">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Status Tanah</label>
			<select id="statustanah">
				<option value="hm">Hak Milik</option>
				<option value="hgb">Hak Guna Bangunan</option>
				<option value="sewa">Sewa</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Nomor Persil</label>
			<input type="text" id="nomorpersil">
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Nomor Sertifikat</label>
			<input type="text" id="nomorsertifikat">
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Status Tanah</label>
			<input type="text" id="statustanah">
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Luas Tanah</label>
			<input type="text" id="luastanah">
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Atas Nama Tanah</label>
			<input type="text" id="pemiliktanah">
		</div>		
		
	</form>
</div>